# Skip optional dependencies that aren't needed for your platform
optional=false

# Use legacy peer deps if needed
legacy-peer-deps=false

# Prevent sharp from installing all platform binaries
sharp_binary_host=https://github.com/lovell/sharp-libvips/releases/download
sharp_libvips_binary_host=https://github.com/lovell/sharp-libvips/releases/download